Makefile.in
Makefile
.deps/
.libs/
/test-driver
/INSTALL
/configure.lineno
/config.status.lineno
/config.log
/config.cache
/conftest*
/confdef*
/debug
build-aux/
/exclude
/autom4te.cache
/keys
/doc.tmp
/.project
/.cproject
/.tgitconfig
/configure
stamp-h[0-9]
.dirstamp
/libtool
/aclocal.m4
/config.status
/stamp-h1
/.pydevproject
/.autotools
/.vscode
/.settings
/.vs
/po/configure.acT
/po/POTFILES
/po/configargs.stamp
/po/libmicrohttpd2.pot
*~
\#*\#
/uncrustify.cfg
*.dvi
*.t2d
.texlipse
/po/remove-potcdate.sed
/po/autom4te.cache
/po-config.log
/po-config.status
/po-configure
/po/configure
/po/aclocal.m4
/po/po-configure.ac
/po/configure.ac
/pre-dist-hook-dummy
/libmicrohttpd2-*.*.*.tar.*
/libmicrohttpd2-1.99.[0-9]/
/libmicrohttpd2-1.99.[0-9][0-9]/
/libmicrohttpd2-2.[0-9].[0-9]/
/libmicrohttpd2-2.[0-9][0-9].[0-9]/
/libmicrohttpd2-2.[0-9].[0-9][0-9]/
/libmicrohttpd2-2.[0-9][0-9].[0-9][0-9]/
/.clangd
/.cache/
compile_commands.json
/*.cdx.json
/*.spdx.json
