**/*~
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
contrib/macosx/Info.plist
contrib/macosx/Pkg-Info.plist
depcomp
doc/Makefile
doc/Makefile.in
doc/libextractor.info
doc/mdate-sh
doc/stamp-vti
doc/texinfo.tex
doc/version.texi
install-sh
libextractor-uninstalled.pc
libextractor-uninstalled.sh
libextractor.pc
libextractor.pc.in
libtool
ltmain.sh
m4/Makefile
m4/Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
out
po/Makefile
po/Makefile.in
po/POTFILES
po/*.gmo
po/stamp-po
src/Makefile
src/Makefile.in
src/common/.deps/
src/common/.libs/
src/common/Makefile
src/common/Makefile.in
src/common/convert.lo
src/common/convert.o
src/common/libextractor_common.la
src/common/unzip.lo
src/common/unzip.o
src/include/Makefile
src/include/Makefile.in
src/intlemu/.deps/
src/intlemu/Makefile
src/intlemu/Makefile.in
src/main/.deps/
src/main/.libs/
src/main/Makefile
src/main/Makefile.in
src/main/extract
src/main/extract.o
src/main/getopt.o
src/main/getopt1.o
src/main/libextractor.la
src/main/*.o
src/main/*.lo
src/main/*.la
src/main/*.trs
src/main/*.log
src/main/test_bzip2
src/main/test_file
src/main/test_gzip
src/main/test_ipc
src/main/test_plugin_load_multi
src/main/test_plugin_loading
src/main/test_trivial
src/plugins/.deps/
src/plugins/.libs/
src/plugins/Makefile
src/plugins/Makefile.in
src/plugins/*.o
src/plugins/*.lo
src/plugins/*.la
src/plugins/*.log
src/plugins/*.trs
src/plugins/test-suite.log
src/plugins/test_archive
src/plugins/test_deb
src/plugins/test_dvi
src/plugins/test_elf
src/plugins/test_exiv2
src/plugins/test_flac
src/plugins/test_gif
src/plugins/test_gstreamer
src/plugins/test_html
src/plugins/test_it
src/plugins/test_jpeg
src/plugins/test_man
src/plugins/test_midi
src/plugins/test_mime
src/plugins/test_mpeg
src/plugins/test_nsf
src/plugins/test_nsfe
src/plugins/test_odf
src/plugins/test_ogg
src/plugins/test_ole2
src/plugins/test_pdf
src/plugins/test_png
src/plugins/test_ps
src/plugins/test_qt
src/plugins/test_real
src/plugins/test_riff
src/plugins/test_rpm
src/plugins/test_s3m
src/plugins/test_sid
src/plugins/test_thumbnailgtk
src/plugins/test_tiff
src/plugins/test_wav
src/plugins/test_xm
src/plugins/test_zip
stamp-h1
test-driver
src/plugins/test_thumbnailffmpeg
build-aux/
src/plugins/test_applefile
