libmicrohttpd2.aux
libmicrohttpd2.cp
libmicrohttpd2.cps
libmicrohttpd2.fn
libmicrohttpd2.fns
libmicrohttpd2.log
libmicrohttpd2.pdf
libmicrohttpd2.toc
libmicrohttpd2.tp
libmicrohttpd2.tps
texput.log
version.texi
libmicrohttpd2.info
libmicrohttpd2.info-1
libmicrohttpd2.info-2
stamp-vti
